.stream-page {
  video {
    border: 0;
    width: 100%;
    // background-color: black;
  }

  .video-height {
    max-height: calc(100vh - 48px);
  }
  video:focus {
    outline: 0;
  }

  .video-container {
    border: 0;
    max-width: 100vw;
    max-height: 100vh;
    .controls {
      display: flex;
      //justify-content: center;
      align-items: center;
    }
    .volume-container {
      > div {
        margin: 0;
      }

      width: 160px;
    }
  }

  #cursor {
    transition: transform 100ms ease-out;
    transform-origin: center;
    pointer-events: none;
    &.scaled {
      transform: scale(2) translate(-25%, -25%);
    }
  }
}
