.stream-page {
  video {
    border: 0;
    width: 100%;
  }

  .video-height {
    max-height: calc(100vh - 42px);
  }
  video:focus {
    outline: 0;
  }

  #cursor {
    transition: transform 100ms ease-out;
    transform-origin: center;
    pointer-events: none;
    &.scaled {
      transform: scale(2) translate(-25%, -25%);
    }
  }
}
